/**
 * Main Styles
 */
html {
    background: radial-gradient(black 15%, transparent 16%) 0 0,
                radial-gradient(black 15%, transparent 16%) 8px 8px,
                radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
                radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    margin: 0px;
    font: 12px/18px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: radial-gradient(50% 50%, transparent, black);
}



/**
 * Design Styles
 */
header {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    margin: 0;
    z-index: 1;
    box-shadow: 0 5px rgba(0, 0, 0, 0.8);
    background: rgba(20, 20, 20, 0.8);
    border-left: 8px solid #900;
    transition: all 0.5s;
}
header:hover {
    height: 80px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: -5px;
}



/**
 * Header Styles
 */
header h1 {
    display: inline-block;
    margin: 0;
    padding: 8px;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-transform: capitalize;
}
header p {
    display: inline-block;
    margin: 0;
    color: #999;
    font-size: 1em;
    font-style: italic;
    transition: opacity 0.5s;
}
#select {
    position: relative;
    left: -115px;
    opacity: 0;
}

header:hover #expand {
    opacity: 0;
}
header:hover #select {
    opacity: 1;
}



/**
 * Nav Menu Styles
 */
#nav {
    list-style: none;
    margin: 5px;
}
#nav li {
    display: inline-block;
}
#nav a {
    position: relative;
    margin: 2px 3px;
    padding: 6px 12px 5px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 18px;
    color: #BBB;
    opacity: 0;
    transition: opacity 0.5s;
}
header:hover #nav a {
    opacity: 1;
}
#nav a:hover {
    color: white;
}

#nav a::after {
    content: "//";
    position: absolute;
    top: 1px;
    right: -8px;
    width: 10px;
    height: 20px;
    font-size: 18px;
    letter-spacing: -4px;
    color: #646464;
}
#nav li:first-child a::before {
    content: "//";
    position: absolute;
    top: 1px;
    left: -8px;
    width: 10px;
    height: 20px;
    font-size: 18px;
    letter-spacing: -4px;
    color: #646464;
}

#nav li a.selected {
    color: white;
}
