{
    "globals": {
        "Board": true,
        "Display": true,
        "HighScores": true,
        "Keyboard": true,
        "Level": true,
        "Score": true,
        "Tetrimino": true,
        "Tetriminos": true
    }
}