{
    "globals": {
        "Alerts": true,
        "Board": true,
        "Builder": true,
        "Create": true,
        "Display": true,
        "Maps": true,
        "MapsData": true,
        "Mobs": true,
        "MobsManager": true,
        "Towers": true,
        "TowersManager": true,
        "Panel": true,
        "Paths": true,
        "Ranges": true,
        "RangesData": true,
        "Selection": true,
        "Score": true,
        "Shooter": true,
        "Waves": true,
        
        "Tower": true,
        "ShootTower": true,
        "FastTower": true,
        "MissileTower": true,
        "AntiAirTower": true,
        "FrostTower": true,
        "EarthquakeTower": true,
        "InkTower": true,
        "SnapTower": true,
        "LaserTower": true,
        "BoostTower": true,
        
        "Ammo": true,
        "ShootAmmo": true,
        "FastAmmo": true,
        "MissileAmmo": true,
        "AntiAirAmmo": true,
        "FrostAmmo": true,
        "EarthquakeAmmo": true,
        "InkAmmo": true,
        "SnapAmmo": true,
        "LaserAmmo": true,
        
        "Mob": true,
        "NormalMob": true,
        "InmuneMob": true,
        "GroupMob": true,
        "FastMob": true,
        "SpawnMob": true,
        "SpawnChild": true,
        "FlyingMob": true,
        "ArrowMob": true,
        "DarkMob": true,
        "DecoyMob": true,
        "DecoyChild": true,
        "HopperMob": true,
        "MorphMob": true
    }
}